:root {
	--color-white: #fff;

	--g-color-fill-light: #ffffff;
	--g-color-fill-dark: #363848;

	--color-primary: #151515;
	--color-primary-b: #575757;
	--color-primary-c: #A9A9A9;
	--color-primary-d: #D1D1D1;
	--color-primary-e: #EBEBEB;
	--color-primary-f: #F5F5F5;
	--color-primary-h: #F9F9F9;

	--color-secondary: #6A983C;
	--color-secondary-b: #46760A;
	--color-secondary-c: #92C064;
	--color-secondary-d: #C8DEB3;
	--color-secondary-e: #F4F8EC;

	--color-add-1: #D0A866;
	--color-add-1-b: #B28A48;
	--color-add-1-c: #ECD2A6;
	--color-add-1-d: #FAEDD8;
	--color-add-1-e: #FFF9F0;

	--color-add-2: #E5704B;
	--color-add-2-b: #C7522D;
	--color-add-2-c: #EB8D70;
	--color-add-2-d: #F7C6B7;
	--color-add-2-e: #FFF1ED;

	--color-add-3: #37D0D6;
	--color-add-3-b: #19B2B8;
	--color-add-3-c: #7CD0D3;
	--color-add-3-d: #B9E6E8;
	--color-add-3-e: #ECF6F6;

	--overlay-color: #1515157a;
}

[data-theme='dark'] {
	--g-color-background: #21242d;
	--g-color-panel: var(--color-primary-b);
	--g-color-fill: var(--g-color-fill-light);
	--g-color-fill-active: var(--color-primary-c);
}

[data-theme='light'] {
	--g-color-background: #eef5f8;
	--g-color-panel: var(--g-color-fill-light);
	--g-color-fill: var(--g-color-fill-dark);
	--g-color-fill-active: var(--color-primary-b);
}