.Header {
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
		transition: 0.2s;

		.links {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		@media (max-width: 768px) { 
			display: none;
		}
	}

	.main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 20px 0;

		.userPanel {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.formHeader {
			display: flex;
			gap: 10px;
			width: 100%;

			.search,
			.dd {
				flex: 1;
			}
		}

		@media (max-width: 768px) { 
			flex-wrap: wrap;

			.formHeader {
				grid-template-columns: 1fr;
			}

			.headerBtn, 
			.formHeader {
				order: 3;
				width: 100%;
			}
		}
	}
}