.Header {
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
		transition: 0.2s;

		.links {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		@media (max-width: 768px) { 
			display: none;
		}
	}

	.main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 130px;
		gap: 20px;

		.userPanel {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		@media (max-width: 768px) { 
			flex-wrap: wrap;

			.headerBtn {
				order: 3;
				width: 100%;
			}
		}
	}
}