.Blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;

	.PostGrid {
		display: grid;
		gap: 32px;
		width: 100%;

		&.grid {
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		}
	}
}