.App {
  --g-container-padding: 30px;
  overflow-y: auto;
  height: 100vh;
  color: var(--g-color-fill);
  background: var(--g-color-background);

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1260px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 var(--g-container-padding) var(--g-container-padding);
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.35);
    transition: 0.2s;

    .no_container {
      width: calc(var(--g-container-padding) * 2 + 100%) !important;
      margin-right: calc(var(--g-container-padding) * -1);
      margin-left: calc(var(--g-container-padding) * -1);

      &.padding_side {
        padding-right: var(--g-container-padding);
        padding-left: var(--g-container-padding);
      }
    }
  }

	&.aside_open {
		overflow: hidden;
    padding-right: var(--scrollbar-width);
	}
}