.App {
  overflow-y: auto;
  height: 100vh;
  color: var(--g-color-fill);
  background: var(--g-color-background);

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1260px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 45px 45px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
  }

	&.aside_open {
		overflow: hidden;

    .container {
      margin-left: var(--aside-width);
    }
	}
}

@media (max-width: 768px) { 
  .App {
    padding: 0 20px 20px;
  }
}