@use 'scss-reset/reset';

//Colors
:root {
	--color-white: #fff;

	--color-primary: #151515;
	--color-primary-b: #575757;
	--color-primary-c: #A9A9A9;
	--color-primary-d: #D1D1D1;
	--color-primary-e: #EBEBEB;
	--color-primary-f: #F5F5F5;
	--color-primary-h: #F9F9F9;

	--color-secondary: #6A983C;
	--color-secondary-b: #46760A;
	--color-secondary-c: #92C064;
	--color-secondary-d: #C8DEB3;
	--color-secondary-e: #F4F8EC;

	--color-add-1: #D0A866;
	--color-add-1-b: #B28A48;
	--color-add-1-c: #ECD2A6;
	--color-add-1-d: #FAEDD8;
	--color-add-1-e: #FFF9F0;

	--color-add-2: #E5704B;
	--color-add-2-b: #C7522D;
	--color-add-2-c: #EB8D70;
	--color-add-2-d: #F7C6B7;
	--color-add-2-e: #FFF1ED;

	--color-add-3: #37D0D6;
	--color-add-3-b: #19B2B8;
	--color-add-3-c: #7CD0D3;
	--color-add-3-d: #B9E6E8;
	--color-add-3-e: #ECF6F6;
}
//------------

//Fonts
$fonts: (
  s1: (fs: 32px, fw: 600, ff: 'Poppins'),
  s2: (fs: 26px, fw: 600, ff: 'Poppins'),
  s3: (fs: 22px, fw: 600, ff: 'Poppins'),
  s4: (fs: 18px, fw: 600, ff: 'Poppins'),
  s5: (fs: 15px, fw: 600, ff: 'Poppins'),
  s6: (fs: 12px, fw: 600, ff: 'Poppins'),
  button: (fs: 15px, fw: 700, ff: 'Poppins'),
  lead: (fs: 17px, fw: 400, ff: 'Open Sans'),
  body: (fs: 14px, fw: 400, ff: 'Open Sans'),
  caption: (fs: 12px, fw: 400, ff: 'Open Sans'),
);

@each $font, $keys in $fonts {
  .f-#{$font} {
		font-family: map-get($keys, ff), sans-serif;
    font-size: map-get($keys, fs);
		font-weight: map-get($keys, fw);
  }
}
//------------

//Buttons
.myButton {
	display: inline-flex;
	justify-content: center;
	padding: 12px 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	color: var(--color-white);
	background-color: var(--color-secondary);
	border: 2px solid var(--color-secondary-b);
	border-radius: 12px;
	transition: 0.2s;
	gap: 6px;

	&:hover {
		filter: brightness(1.1);
	}

	&.mini {
		padding: 8px 10px;
	}

	&.small {
		padding: 12px;
	}

	&.big {
		padding: 12px 48px;
	}

	&.transparent { 
		color: var(--color-primary);
		background-color: unset;

		&:hover {
			color: var(--color-white);
			background-color: var(--color-secondary);
		}

		.icon {
			color: var(--color-secondary);
		}
	}

	&.disabled {
		pointer-events: none;
		filter: opacity(0.3);
	}

	.icon {
		font-size: 16px;
	}
}
//------------

//Links
.myLink {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: var(--color-secondary);
	transition: 0.2s;

	&:hover {
		filter: brightness(1.1);
	}

	&.dark {
		color: var(--color-primary);

		&:hover {
			color: var(--color-secondary);
		}
	}

	.icon {
		display: block;
	}

	.counter {
		position: absolute;
		bottom: -8px;
    left: -6px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		color: var(--color-white);
		background: var(--color-add-2);
		border-radius: 12px;
	}
}
//------------

//Tags
.myTag {
	display: inline-flex;
	padding: 0 8px;
	color: var(--color-secondary);
	background-color: var(--color-secondary-e);
	border-radius: 12px;
	gap: 4px;
}
//------------

//dropdown
.dropdown_wrap {
	&.is-open {
		.dropdown {
			border-radius: 12px 12px 0 0;
		}
		
	}

	.dropdown {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 250px;
		padding: 10px 16px;
		background: var(--color-primary-h);
		border: 1px solid var(--color-primary-d);
		border-radius: 12px;

		.dropdown_placeholder {
			text-transform: capitalize;
		}

		.icon {
			display: block;
			font-size: 16px;
			font-weight: 700;
		}
	}

	.dropdown_menu {
		> div {
			text-transform: capitalize;
		}
	}
}
//--------------

//Rating
.rating {
	span {
		.icon {
			display: block;
			font-size: 20px;

			&.fill {
				font-variation-settings:
				'FILL' 1,
				'wght' 600,
				'GRAD' 0,
				'opsz' 48
			}
		}
	}
}
//-----------

//scrollbar
* {
	&::-webkit-scrollbar {
    width: 4px;
    height: 100%;
    background-color: var(--color-primary-d);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-primary-d);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-b);
    border-radius: 6px;
  }
}
//---------------


body {
	background: var(--color-primary-h);
}